
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" id="navbar_role"></a>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/view/cars.html">Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/reservation.html">Reservations</a>
          </li>
        </ul>
          <div class="d-flex">
            <a class="navbar-brand" id="navbar_username"></a>
            <button id="logoutBtn" onclick="logout()" class="btn btn-secondary my-2 my-sm-0">Logout</button>
          </div>      
        </div>
    </div>
  </nav>
